.flash
.contents
  .side
    = render 'shared/side_bar'
  .main
    .main__header
      .main__header__left
        %h2.main__header__left__name ううう
        %ul.main__header__left__members
          ううう１:
          %li.main__header__left__member
            %p ううう２
          %li.main__header__left__member
            %p ううう２
          %li.main__header__left__member
            %p ううう２
      = link_to edit_group_path(current_user.id) do
        -# 分からん
        .main__header__right Edit
    .main__contents
      .main__content
        .main__content__message
          .main__content__message__upper-info
            .main__content__message__upper-info__name
              %p えええ
            .main__content__message__upper-info__time
              %p えええ２
          .main__content__message__text
            %p ええええええ３
        .main__content__message
          .main__content__message__upper-info
            .main__content__message__upper-info__name
              %p えええ
            .main__content__message__upper-info__time
              %p えええ２
          .main__content__message__text
            %p ええええええ３
        .main__content__message
          .main__content__message__upper-info
            .main__content__message__upper-info__name
              %p えええ
            .main__content__message__upper-info__time
              %p えええ２
          .main__content__message__text
            %p ええええええ３
      .main__form
        .main__form__box
          %form
            %input.main__form__box__input{name: :name, placeholder: "type a message", type: :text}
            %label.upload-label{for: "message_image"}
              %i.fa.fa-picture-o
              %input#message_image.main__form__box__image{name: :image, type: :file}
        = link_to "#" do
          .main__form__btn send
