.flash
.contents
  .side
    .side__header
      .side__header__box
        .side__header__box__name
          %p あああ
        %ul.side__header__box__menu
          %li.side__header__box__menu__new-group
            = link_to "#" do
              %i.fa.fa-edit
          %li.side__header__box__menu__setting
            = link_to "#" do
              %i.fa.fa-cog
    .side__groups
      = link_to "#" do
        .side__group
          .side__group__box__name
          .side__group__box__text
  .main
    .main__header
      .main__header__left
        .main__header__left__name
        %ul.main__header__left__members
          %li.main__header__left__member
        .main__header__right
          .main__header__right__btn
    .main__contents
      .main__content
        .main__content__name
        .main__contents__time
        .main__contents__message
      .main__form
        .main__form__box
          .main__form__box__input
          .main__form__box__image
          .main__form__box__btn
