
.main{
  width: calc(100vw - 300px);
  float: right;
  &__header{
    height: 100px;
    border-bottom: 1px solid $grey-e;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    &__left{
      margin-top: 35px;
      &__name{
        font-size: 20px;
        margin-bottom: 15px;
        color: $black-3;
      }
      &__members{
        font-size: 12px;
        color: $grey-9;
        display: flex;
      }
      &__member{
        padding-left: 0.3rem;
      }
    }
    a{
      color: $btn;
    }
    &__right{
      height: 40px;
      line-height: 40px;
      padding: 0px 20px;
      margin-top: 30px;
      border: 1px solid $btn;
      position: absolute;
      right: 40px;
    }
  }
  &__content{
    height: calc(100vh - 190px);
    background: $main-bg;
    padding: 46px 40px;
    &__message{
      margin-bottom: 40px;
      &__upper-info{
        display: flex;
        justify-content: flex-start;
        &__name{
          color: $grey-4;
          font-weight: bold;
          margin-bottom: 10px;
        }
        &__time{
          color: $grey-9;
          font-size: 12px;
          margin-left: 0.3rem;
        }
      }
      &__text{
        color: $grey-4;
        font-size: 14px;
      }
    }
  }
  .form{
    background: $grey-d;
    height: 90px;
    padding: 20px  40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      padding-left: 10px;
      width: calc(100% - 150px);
    }
    &__mask {
      background: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden{
        display: none;
      }
    }
    &__submit {
      background: $btn;
      border: none;
      color: $white;
      float: right;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}