.side-bar{
  width:300px;
  color:  $white;
  float: left;
  .header{
    height: 100px;
    line-height: 100px;
    background: $black-2;
    padding: 0px  20px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
    &__lists{
      display: flex;
      li{
        list-style: none;
        margin-left: .3rem;
        a{
          color: $white;
        }
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background: $black-1;
    padding: 20px  20px 0;
    overflow: scroll;
    .group{
      &__name{
        color: $white;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        color: $white;
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}